<div class="upload">
  <h2>Upload</h2>
  <p>

  <div style="text-align:center; margin-top: 100px;"><mat-card style="margin-top:10px; width: 50%;">
          <mat-card-content>
              <ul>
                  <li *ngFor="let file of files">
                      <span id="file-label">
                        {{file.data.name}}
                      </span>
                      <mat-progress-bar [value]="file.progress"></mat-progress-bar>
                  </li>
              </ul>
          </mat-card-content>
          <mat-card-actions>
              <button mat-button color="warn" (click)="onClick()">
                  <mat-icon>file_upload</mat-icon>
                  Upload
              </button>
          </mat-card-actions>
      </mat-card><input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="text/plain,.html,.css,.sql" style="display:none;"/>
  </div>

</div>
